.card
  .card-header
    %i.fa.fa-search
    Grade Level Search
  %table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        %th
        %th Sort Order
        %th Title
        %th Short Name
    %tbody
      - @model.each do |t|
        %tr
          %td= link_to 'Edit', edit_grade_path(t)
          %td= t.sort_order
          %td= t.title
          %td= t.short_name

= link_to 'New Grade Level', new_grade_path, :class => 'btn btn-primary'