.block-center.mt-xl.wd-xl
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      %a{:href => '#'}
        %img.block-center.img-rounded{:alt => 'Image', :src => "#{image_path('angle/logo.png')}"}
    .panel-body
      %p.text-center.pv Resend Account Confirmation
      = devise_error_messages!
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), :html => { :method => :post, :class => '' }) do |f|
        .form-group.has-feedback
          = f.label :email, class: 'text-muted'
          = f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => 'form-control', :placeholder => 'Email'
          %span.fa.fa-envelope.form-control-feedback.text-muted
        %button.btn.btn-block.btn-primary.mt-lg{:type => 'submit'} Resend
      = render 'devise/shared/links'