<%= stylesheet_link_tag 'application', media: 'all' %>

<div class="page-type-indra page-type-login">
  <div class="aui-page-panel indra-one-wide">
    <header class="indra-header aui-page-header">
      <div class="aui-page-header-inner">
        <div class="aui-pageheader-main">
          <h1><%= Genesis::INFO.app_name %> <small>Resend - v<%= Genesis::INFO.version %></small></h1>
        </div>
      </div>
    </header>
    <div class="aui-group indra-login-method">
      <div class="aui-item indra-login-item indra-login-crowd">

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), :html => { :method => :post, :class => 'aui top-label' }) do |f| %>

            <%= devise_error_messages! %>

            <div class="field-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => 'text full-width-field' %>
            </div>

            <div class="buttons-container">
              <div class="buttons">
                <%= f.submit 'Resend confirmation instructions', :class => 'aui-button aui-button-primary' %>
              </div>
            </div>

            <%= render 'devise/shared/links' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
