.block-center.mt-xl.wd-xl
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      %a{:href => '#'}
        %img.block-center.img-rounded{:alt => 'Image', :src => "#{image_path('angle/logo.png')}"}/
    .panel-body
      %p.text-center.pv Signup
      = devise_error_messages!
      = form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :class => '' }) do |f|
        .form-group.has-feedback
          = f.label :email, class: 'text-muted'
          = f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Email'
          %span.fa.fa-envelope.form-control-feedback.text-muted
        .form-group.has-feedback
          = f.label :password, class: 'text-muted'
          = f.password_field :password, autocomplete: 'off', :class => 'form-control', :placeholder => 'Password'
          %span.fa.fa-lock.form-control-feedback.text-muted
          - if @minimum_password_length
            .form-text.text-muted
              = @minimum_password_length
              characters minimum
        .form-group.has-feedback
          = f.label :password_confirmation, class: 'text-muted'
          = f.password_field :password_confirmation, autocomplete: 'off', :class => 'form-control', :placeholder => 'Password Confirmation'
          %span.fa.fa-lock.form-control-feedback.text-muted
        %button.btn.btn-block.btn-primary.mt-lg{:type => 'submit'} Create account
      = render 'devise/shared/links'