<h4>Basic Information</h4>

<div class="field-group">
  <%= f.label :student_name %>
  <%= f.text_field :first_name, :class => 'text medium-field', :placeholder => 'First' %>
  <%= f.text_field :middle_name, :class => 'text medium-field', :placeholder => 'Middle' %>
  <%= f.text_field :last_name, :class => 'text medium-field', :placeholder => 'Last' %>
  <%= f.text_field :suffix, :class => 'text short-field', :placeholder => 'Suffix' %>
</div>

<div class="field-group">
  <%= f.label :date_of_birth %>
  <%= f.text_field :date_of_birth, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY' %>
</div>

<div class="field-group">
  <%= f.label :sex %>
  <%= f.text_field :sex, :class => 'text short-field', :placeholder => 'M or F' %>
</div>

<h4>Admission Information</h4>

<%= f.fields_for :enrollments do |ff| %>

    <div id="admission-information">
      <div class="field-group">
        <%= ff.label :grade %>
        <%= ff.select :school_year_grade_id, options_from_collection_for_select(@grades, :id, :title), {include_blank: '- N/A -'}, {:class => 'select'} %>
      </div>

      <div class="field-group">
        <%= ff.label :start_date %>
        <%= ff.text_field :admission_date, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY' %>
      </div>

      <div class="field-group">
        <%= ff.label :enrollment_code %>
        <%= ff.select :admission_code_id, options_from_collection_for_select(@admission_codes, :id, :title), {include_blank: '- Select -'}, {:class => 'select'} %>
      </div>

    </div>

<% end %>

