<div class="aui-sidebar" id="student-sidebar">
  <div class="aui-sidebar-wrapper">
    <div class="aui-sidebar-body">

      <header class="aui-page-header">
        <div class="aui-page-header-inner">
          <div class="aui-page-header-image">
            <span class="aui-avatar aui-avatar-large aui-avatar-project">
                <span class="aui-avatar-inner"><img src="<%= path_to_student_photo %>"></span>
            </span>
          </div>
          <div class="aui-page-header-main">
            <h1>
              <%= @student.full_name %>
            </h1>
            <ol class="aui-nav">
              <li>
                Student ID: <strong><%= @student.student_id %></strong> (<%= @student.current_grade('short') %>)
              </li>
            </ol>
          </div>
        </div>
      </header>

      <nav class="aui-navgroup aui-navgroup-vertical">
        <div class="aui-navgroup-inner">
          <div class="aui-sidebar-group aui-sidebar-group-actions">

            <div class="aui-nav-heading" title="Actions">
              <strong>Actions</strong>
            </div>

            <ul class="aui-nav" title="Page actions">
              <li>
                <%= link_to 'Edit', edit_student_path(@student), :class => 'aui-nav-item' %>
              </li>
            </ul>

          </div>

          <div class="aui-sidebar-group aui-sidebar-group-tier-one">
            <div class="aui-nav-heading" title="Stuff">
              <strong>Simple Nav</strong>
            </div>

            <ul class="aui-nav">
              <li>
                <a class="aui-nav-item" href="#">
                  <span class="aui-icon aui-icon-small aui-iconfont-admin-jira-screens"></span>
                  <span class="aui-nav-item-label">Information</span>
                </a>
              </li>
              <li class="aui-nav-item">
                <a class="aui-nav-item" href="#">
                  <span class="aui-icon aui-icon-small aui-iconfont-calendar"></span>
                  <span class="aui-nav-item-label">Schedule</span>
                </a>
              </li>
              <li>
                <a class="aui-nav-item" href="#">
                  <span class="aui-icon aui-icon-small aui-iconfont-jira-completed-task"></span>
                  <span class="aui-nav-item-label">Attendance</span>
                </a>
              </li>

              <li>
                <a class="aui-nav-item" href="#" title="This is a really really long title for whatever this is">
                  <span class="aui-icon aui-icon-small aui-iconfont-details"></span>
                  <span class="aui-nav-item-label">Enrollment History</span>
                </a>
              </li>
              <li>
                <a class="aui-nav-item" href="#">
                  <span class="aui-icon aui-icon-small aui-iconfont-file-xls"></span>
                  <span class="aui-nav-item-label">Transcripts</span>
                </a>
              </li>
              <li>
                <a class="aui-nav-item" href="#">
                  <span class="aui-icon aui-icon-small aui-iconfont-jira-issues"></span>
                  <span class="aui-nav-item-label">Discipline</span>
                </a>
              </li>
              <li>
                <a class="aui-nav-item" href="#">
                  <span class="aui-icon aui-icon-small aui-iconfont-pages"></span>
                  <span class="aui-nav-item-label">Billing</span>
                </a>
              </li>
              <li>
                <a class="aui-nav-item" href="#">
                  <span class="aui-icon aui-icon-small aui-iconfont-component"></span>
                  <span class="aui-nav-item-label">Eligibility</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

    <div class="aui-sidebar-footer">
      <a class="aui-button aui-button-subtle aui-sidebar-toggle aui-sidebar-footer-tipsy" title="Collapse sidebar ( [ )">
        <span class="aui-icon aui-icon-small"></span>
      </a>
    </div>
  </div>
</div>