<h4>Basic Information</h4>
<div id="basic-information">
  <div class="field-group">
    <%= label_tag do %>
        Student name <span class="aui-icon icon-required"></span>
    <% end %>
    <%= f.text_field :first_name, :class => 'text medium-field', :placeholder => 'First' %>
    <%= f.text_field :middle_name, :class => 'text medium-field', :placeholder => 'Middle' %>
    <%= f.text_field :last_name, :class => 'text medium-field', :placeholder => 'Last' %>
    <%= f.text_field :suffix, :class => 'text short-field', :placeholder => 'Suffix' %>
  </div>
  <div class="field-group">
    <%= f.label :date_of_birth %>
    <%= f.text_field :date_of_birth, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY' %>
  </div>
  <div class="field-group">
    <%= f.label :sex %>
    <%= f.text_field :sex, :class => 'text short-field', :placeholder => 'M or F' %>
  </div>
</div>
<h4>Admission Information</h4>
<%= f.fields_for :enrollments do |ff| %>
    <div id="admission-information">
      <%= ff.hidden_field :id %>
      <%= ff.hidden_field :student_id %>
      <div class="field-group">
        <%= ff.label :grade %>
        <%= ff.select :school_year_grade_id, options_from_collection_for_select(@grades, :id, :title), {include_blank: '- N/A -'}, {:class => 'select'} %>
      </div>
      <div class="field-group">
        <%= ff.label :start_date %>
        <%= ff.text_field :admission_date, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY' %>
      </div>
      <div class="field-group">
        <%= ff.label :enrollment_code %>
        <%= ff.select :admission_code_id, options_from_collection_for_select(@admission_codes, :id, :title), {include_blank: '- Select -'}, {:class => 'select'} %>
      </div>
    </div>
<% end %>
<h5>Student Address</h5>
<%= f.fields_for :student_addresses do |su| %>
    <div id="address-information">
      <%= su.hidden_field :id %>
      <%= su.hidden_field :student_id %>
      <%= su.hidden_field :address_id %>
      <%= su.fields_for :address do |a| %>
          <div class="field-group">
            <%= a.label :address %>
            <%= a.text_field :street, :class => 'text medium-field', :placeholder => 'Street' %><br/>
            <%= a.text_field :city, :class => 'text medium-field', :placeholder => 'City' %>
            <%= a.text_field :state, :class => 'text short-field', :placeholder => 'State' %>
            <%= a.text_field :zip_code, :class => 'text short-field', :placeholder => 'Zip Code' %>
          </div>
          <div class="field-group">
            <%= a.label :phone_number %>
            <%= a.text_field :phone_number, :class => 'text medium-field' %>
          </div>
      <% end %>
      <div class="field-group">
        <%= su.label :address_options %>
        <div class="checkbox">
          <%= su.check_box :is_mailing %>
          <%= su.label :mailing %>
        </div>
        <div class="checkbox">
          <%= su.check_box :is_residential %>
          <%= su.label :residential %>
        </div>
        <div class="checkbox">
          <%= su.check_box :is_bus_pickup %>
          <%= su.label :bus_pickup %>
        </div>
        <div class="checkbox">
          <%= su.check_box :is_bus_drop_off %>
          <%= su.label :bus_drop_off %>
        </div>
      </div>
    </div>
<% end %>