<%= render :partial => 'students/sidebar', :locals => {:student => @student} %>
<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <h1>Edit Student</h1>
    </div>
    <div class="aui-page-header-actions">
    </div>
  </div>
</header>
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
      <%= form_for @student, url: student_path(@student), method: :patch, :html => {:class => 'aui'} do |f| %>
          <%= error_messages_for 'student' %>
          <div class="buttons-container">
            <div class="buttons">
              <%= f.submit 'Save Changes', :class => 'button submit' %>
              <%= link_to 'Cancel', back_url, :class => 'cancel' %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>