.panel.panel-primary
  .panel-heading
    .panel-title Students
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th
        %th Student Id
        %th Name
        %th Grade
    %tbody
      - @students.each do |s|
        %tr
          %td= link_to 'Select', student_path(s)
          %td= s.student_id
          %td= format_person_name(s.first_name, s.middle_name, s.last_name, s.suffix,)
          %td= s.current_grade

- if !can_new_student_be_admitted
  .btn-group.left-dropdown
    = link_to 'New Admission', new_student_path, :class => 'btn btn-green'
    %button.btn.btn-green.dropdown-toggle{ 'data-toggle': 'dropdown'}
      %span.caret
    %ul.dropdown-menu.dropdown-green
      %li= link_to 'Quick Admission', new_student_path, :type => 'quick'
      %li= link_to 'Standard Admission', new_student_path, :type => 'long'