<header class="aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <h1>Students</h1>
    </div>
    <div class="aui-page-header-actions">

      <div class="aui-buttons">
        <% if can_new_student_be_admitted %>
            <%= link_to 'New Admission', new_student_path, :class => 'aui-button aui-button-split-main' %>
            <button class="aui-button aui-dropdown2-trigger aui-button-split-more" aria-haspopup="true" aria-owns="admission-dropdown">:)</button>
            <div id="admission-dropdown" class="aui-dropdown2 aui-style-default" role="menu" aria-hidden="true">
              <ul class="aui-list-truncate">
                <li><%= link_to 'Quick Admission', new_student_path, :type => 'quick' %></li>
                <li><%= link_to 'Standard Admission', new_student_path, :type => 'long' %></li>
              </ul>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</header>
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
      <table class="aui">
        <thead>
        <tr>
          <th></th>
          <th>Student ID</th>
          <th>Name</th>
          <th>Grade</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <% @students.each do |s| %>
            <tr>
              <td><%= link_to 'Select', student_path(s) %></td>
              <td><%= s.student_id %></td>
              <td><%= format_person_name(s.first_name, s.middle_name, s.last_name, s.suffix, ) %></td>
              <td><%= s.current_grade %></td>
            </tr>
        <% end %>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>