.card
  .card-header
    %i.fa.fa-search
    Student Search
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th
        %th Student Id
        %th Name
        %th Grade
    %tbody
      - @students.each do |s|
        %tr
          %td= link_to 'Select', student_path(s)
          %td= s.student_id
          %td= format_person_name(s.first_name, s.middle_name, s.last_name, s.suffix,)
          %td= s.current_grade

.btn-group
  %a.btn.btn-secondary{ href: new_student_path, class: can_new_student_be_admitted ? '' : 'disabled'}
    New Admission
  .btn-group
    %button.btn.btn-secondary.dropdown-toggle{ 'data-toggle': 'dropdown', disabled: can_new_student_be_admitted ? '' : 'disabled' }
      %span.caret
    %ul.dropdown-menu
      %li.dropdown-item= link_to 'Quick Admission', new_student_path, :type => 'quick'
      %li.dropdown-item= link_to 'Standard Admission', new_student_path, :type => 'long'