= form_for @student, url: students_path, :html => { :class => 'aui' } do |f|
  .card
    .card-header
      Student Admission
    .card-deck
      .form-horizontal
        = error_messages_for 'grade'
        = render :partial => "students/#{@type}admit", :locals => { :f => f }
    .card-footer
      = link_to 'Cancel', grades_path, :class => 'btn btn-secondary'
      = f.submit 'Create', :class => 'btn btn-primary'