@using Kendo.Mvc.UI
@{
    var systemName = ConfigurationHelper.SystemName();
    var instanceName = ConfigurationHelper.InstanceName();
    var systemVersion = ConfigurationHelper.SystemVersion();

    var pageTitle = string.IsNullOrWhiteSpace(ViewBag.Title)
        ? $"{systemName} - {instanceName}"
        : $"{systemName} - {instanceName} - {ViewBag.Title}";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@pageTitle</title>
    @Styles.Render("~/Content/cssadmin")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="page-body">
    <div class="page-container">
        <div class="sidebar-menu">
            <header class="logo-env">
                <div class="logo">
                    <a href="@Url.Action("Index", "Dashboard", new {area = "Administration"})">
                        @systemName (@instanceName) <br />
                        Administration
                    </a>
                </div>
                <div class="sidebar-collapse">
                    <a href="#" class="sidebar-collapse-icon with-animation">
                        <i class="entypo-menu with-animation"></i>
                    </a>
                </div>
                <div class="sidebar-mobile-menu visible-xs">
                    <a href="#" class="with-animation">
                        <i class="entypo-menu with-animation"></i>
                    </a>
                </div>
            </header>

            <ul id="main-menu" class="multiple-expanded">
                <li>
                    <a href="index.html">
                        <i class="entypo-gauge"></i>
                        <span class="title">Dashboard</span>
                    </a>
                    <ul>
                        <li class="active">
                            <a href="index.html">
                                <span class="title">Dashboard 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="dashboard-2.html">
                                <span class="title">Dashboard 2</span>
                            </a>
                        </li>
                        <li>
                            <a href="dashboard-3.html">
                                <span class="title">Dashboard 3</span>
                            </a>
                        </li>
                        <li>
                            <a href="skin-black.html">
                                <span class="title">Skins</span>
                            </a>
                            <ul>
                                <li>
                                    <a href="skin-black.html">
                                        <span class="title">Black Skin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="skin-white.html">
                                        <span class="title">White Skin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="skin-purple.html">
                                        <span class="title">Purple Skin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="skin-cafe.html">
                                        <span class="title">Cafe Skin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="skin-red.html">
                                        <span class="title">Red Skin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="skin-green.html">
                                        <span class="title">Green Skin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="skin-yellow.html">
                                        <span class="title">Yellow Skin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="skin-blue.html">
                                        <span class="title">Blue Skin</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="skin-facebook.html">
                                        <span class="title">Facebook Skin</span>
                                        <span class="badge badge-secondary badge-roundless">New</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="highlights.html">
                                <span class="title">What's New</span>
                                <span class="badge badge-success badge-roundless">v1.8</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="entypo-chart-bar"></i>
                        <span>Configuration</span>
                    </a>
                    <ul>
                        <li>
                            <a href="@Url.Action("Index", "District", new {area = "Administration"})">
                                <span>Grades</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "District", new {area = "Administration"})">
                                <span>School Types</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home", new {area = ""})">
                        <i class="entypo-chart-bar"></i>
                        <span>Districts</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home", new {area = ""})">
                        <i class="entypo-chart-bar"></i>
                        <span>Schools</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home", new {area = ""})">
                        <i class="entypo-chart-bar"></i>
                        <span>Public Website</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-content">
            @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
            {
                <ol class="breadcrumb bc-3">
                    <li class="active">
                        <i class="entypo-folder"></i>
                        @ViewBag.Title
                    </li>
                </ol>
            }
            @RenderBody()
            <hr />
            <footer>
                <p>
                    <strong>Connected as: </strong> @User.Identity.Name <br />
                    <strong>Version: </strong> @systemVersion
                </p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", false)
    @Html.Kendo().DeferredScripts()
</body>
</html>