@using Kendo.Mvc.UI
@{
    var systemName = ConfigurationHelper.SystemName();
    var instanceName = ConfigurationHelper.InstanceName();
    var systemVersion = ConfigurationHelper.SystemVersion();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@systemName - @instanceName - @ViewBag.Title</title>
    @Styles.Render("~/Content/cssadmin")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="page-body">
    <div class="page-container">
        <div class="sidebar-menu">
            <header class="logo-env">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo.png" alt="" />
                    </a>
                </div>
                <div class="sidebar-collapse">
                    <a href="#" class="sidebar-collapse-icon with-animation">
                        <i class="entypo-menu with-animation"></i>
                    </a>
                </div>
                <div class="sidebar-mobile-menu visible-xs">
                    <a href="#" class="with-animation">
                        <i class="entypo-menu with-animation"></i>
                    </a>
                </div>
            </header>

            <ul id="main-menu" class="multiple-expanded">
                <li>
                    <a href="@Url.Action("Index", "Event", new {area = "Administration"})">
                        <i class="entypo-chart-bar"></i>
                        <span>Events</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Rsvp", new {area = "Administration"})">
                        <i class="entypo-chart-bar"></i>
                        <span>RSVPs</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "SystemLog", new {area = "Administration"})">
                        <i class="entypo-chart-bar"></i>
                        <span>Error Logs</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home", new {area = ""})">
                        <i class="entypo-chart-bar"></i>
                        <span>Public Website</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-content">
            @RenderBody()
            <hr />
            <footer>
                <p>@systemName (@instanceName) - @systemVersion</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", false)
    @Html.Kendo().DeferredScripts()
</body>
</html>