@using Kendo.Mvc.UI
@{
    var systemName = ConfigurationHelper.SystemName();
    var instanceName = ConfigurationHelper.InstanceName();
    var systemVersion = ConfigurationHelper.SystemVersion();

    var pageTitle = string.IsNullOrWhiteSpace(ViewBag.PageTitle)
        ? $"{systemName} - {instanceName}"
        : $"{systemName} - {instanceName} - {ViewBag.PageTitle}";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@pageTitle</title>

    @Styles.Render("~/Content/cssadmin")
    @Styles.Render("~/Content/kendo/css")
</head>
<body>
    <div id="page">
        <div id="wrapper">
            <header id="header" role="banner">
                @Html.Partial("_ApplicationHeader")
            </header>
            <div id="content" role="main">
                @Html.Partial("_Sidebar")

                <div class="aui-page-panel">
                    <div class="aui-page-panel-inner">
                        <section class="aui-page-panel-content">
                            <header class="aui-page-header">
                                <div class="aui-page-header-inner">
                                    <div class="aui-page-header-main">
                                        @Html.Partial("_Breadcrumbs")
                                        @if (ViewBag.ModuleName != null)
                                        {
                                            <div class="aui-item section-title">
                                                <h1>@ViewBag.ModuleName</h1>    
                                            </div>
                                        }
                                    </div>
                                    <div class="aui-page-header-actions">
                                        @RenderSection("headerActions", false)
                                    </div>
                                </div>
                            </header>
                            <br/>
                            @RenderBody()
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer" role="contentinfo">
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/admin")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("scripts", false)
    @Html.Kendo().DeferredScripts()
</body>
</html>