@using Kendo.Mvc.UI
@{
    var systemName = ConfigurationHelper.SystemName();
    var instanceName = ConfigurationHelper.InstanceName();
    var systemVersion = ConfigurationHelper.SystemVersion();

    var pageTitle = string.IsNullOrWhiteSpace(ViewBag.Title)
        ? $"{systemName} - {instanceName}"
        : $"{systemName} - {instanceName} - {ViewBag.Title}";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@pageTitle</title>
    @Styles.Render("~/Content/cssadmin")
    @Styles.Render("~/Content/kendo/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="page-body">
    <div class="page-container">
        <div class="sidebar-menu">
            <header class="logo-env">
                <div class="logo">
                    <a href="@Url.Action("Index", "Dashboard", new {area = "Administration"})">
                        @systemName (@instanceName) <br />
                        Administration
                    </a>
                </div>
                <div class="sidebar-collapse">
                    <a href="#" class="sidebar-collapse-icon with-animation">
                        <i class="entypo-menu with-animation"></i>
                    </a>
                </div>
                <div class="sidebar-mobile-menu visible-xs">
                    <a href="#" class="with-animation">
                        <i class="entypo-menu with-animation"></i>
                    </a>
                </div>
            </header>

            <ul id="main-menu" class="multiple-expanded">
                <li>
                    <a href="@Url.Action("Index", "District", new {area = "Administration"})">
                        <i class="entypo-chart-bar"></i>
                        <span>Districts</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home", new {area = ""})">
                        <i class="entypo-chart-bar"></i>
                        <span>Public Website</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main-content">
            @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
            {
                <ol class="breadcrumb bc-3">
                    <li class="active">
                        <i class="entypo-folder"></i>
                        @ViewBag.Title
                    </li>
                </ol>
            }
            @RenderBody()
            <hr />
            <footer>
                <p>
                    <strong>Connected as: </strong> @User.Identity.Name <br />
                    <strong>Version: </strong> @systemVersion
                </p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/kendo")
    @RenderSection("scripts", false)
    @Html.Kendo().DeferredScripts()
</body>
</html>