.block-center.mt-xl.wd-xl
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      %a{:href => "#"}
        %img.block-center.img-rounded{:alt => "Image", :src => "#{image_path('angle/logo.png')}"}
    .panel-body
      %p.text-center.pv Forgot Password
      = devise_error_messages!
      = form_for(resource, as: resource_name, url: confirmation_path(resource_name), :html => { :method => :post }) do |f|
        .form-group.has-feedback
          = f.label :email, class: 'text-muted'
          = f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Email', :required => 'required'
          %span.fa.fa-envelope.form-control-feedback.text-muted
          = f.submit 'Sent reset instructions', :class => 'btn btn-primary btn-block btn-login mt-lg'
      = render 'devise/shared/links'