.card
  .card-header
    %strong= Genesis::INFO.app_name
    | Forgot Password
  .card-block
    .col-sm-8.offset-sm-2
      .container
        = devise_error_messages!
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), :html => { :method => :post }) do |f|
          .form-group.row
            = f.label :email, class: 'col-sm-2 col-form-label'
            .col-sm-10
              = f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Email Address'

          .form-group
            = f.submit 'Sent reset instructions', :class => 'btn btn-primary btn-block btn-login'
          .login-bottom-links
            = render 'devise/shared/links'