@model District

<div class="field-group">
    @Html.LabelFor(m => Model.SystemCode)
    @Html.TextBoxFor(m => Model.SystemCode, new { @class = "text short-field" })
</div>
<div class="field-group">
    @Html.LabelFor(m => Model.Name)
    @Html.TextBoxFor(m => Model.Name, new {@class = "text"})
</div>

@Html.EditorFor(m => Model.Address)