@model District

<div class="field-group">
    @Html.LabelFor(m => Model.SystemCode)
    @Html.TextBoxFor(m => Model.SystemCode, new { @class = "text short-field", @disabled = "disabled" })
</div>
<div class="field-group">
    @Html.LabelFor(m => Model.Name)
    @Html.TextBoxFor(m => Model.Name, new { @class = "text", @disabled = "disabled" })
</div>

@Html.DisplayFor(m => Model.Address)