.form-group
  = f.label :title
  = f.text_field :title, :class => 'form-control', :placeholder => 'Title'

.form-group
  = f.label :short_name
  = f.text_field :short_name, :class => 'form-control', :placeholder => 'Course Code'

.form-group
  = f.label :address
  = f.text_field :address, :class => 'form-control', :placeholder => 'Description'

.form-group
  = f.label :city
  = f.text_field :city, :class => 'form-control', :placeholder => 'Description'

.form-group
  = f.label :state
  = f.text_field :state, :class => 'form-control', :placeholder => 'Description'

.form-group
  = f.label :zip_code
  = f.text_field :zip_code, :class => 'form-control', :placeholder => 'Description'

.form-group
  = f.label :phone_number
  = f.text_field :phone_number, :class => 'form-control'

.form-group
  = f.label :superintendents_name
  = f.text_field :superintendents_name, :class => 'form-control'