= form_for :district, url: district_path(@district), method: :patch, :html => { :class => '' } do |f|
  .card
    .card-header
      Edit School District
    .card-deck
      .form-horizontal
        = error_messages_for 'district'
        = render :partial => 'districts/form', :locals => { :f => f }
    .card-footer
      = link_to 'Cancel', courses_path, :class => 'btn btn-secondary'
      = f.submit 'Save Changes', :class => 'btn btn-primary'