.block-center.mt-xl.wd-xl
  .panel.panel-dark.panel-flat
    .panel-heading.text-center
      %a{:href => "#"}
        %img.block-center.img-rounded{:alt => "Image", :src => "#{image_path('angle/logo.png')}"}
    .panel-body
      %p.text-center.pv Login
      = form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'mb-lg' } ) do |f|
        .form-group.has-feedback
          = f.email_field :email, autofocus: true, :class => 'form-control', :placeholder => 'Email', :required => 'required'
          %span.fa.fa-envelope.form-control-feedback.text-muted
          .form-group.has-feedback
            = f.password_field :password, autocomplete: 'off', :class => 'form-control', :placeholder => 'Password', :required => 'required'
            %span.fa.fa-lock.form-control-feedback.text-muted
          = f.submit 'Login', :class => 'btn btn-primary btn-block btn-login mt-lg'
      = render 'devise/shared/links'