<%= stylesheet_link_tag 'application', media: 'all' %>

<div class="page-type-indra page-type-login">
  <div class="aui-page-panel indra-one-wide">
    <header class="indra-header aui-page-header">
      <div class="aui-page-header-inner">
        <div class="aui-pageheader-main">
          <h1><%= Genesis::INFO.app_name %> <small>Log In - Version <%= Genesis::INFO.version %></small></h1>
        </div>
      </div>
    </header>
    <div class="aui-group indra-login-method">
      <div class="aui-item indra-login-item indra-login-crowd">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :class => 'aui top-label' } ) do |f| %>

            <div class="field-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, :class => 'text full-width-field', :placeholder => 'Email Address' %>
            </div>

            <div class="field-group">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: 'off', :class => 'text full-width-field', :placeholder => 'Password' %>
            </div>

            <div class="buttons-container">
              <div class="buttons">
                <%= f.submit 'Log in', :class => 'aui-button aui-button-primary' %>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="field-group">
                  <div class="checkbox">
                    <%= f.check_box :remember_me, :class => 'checkbox' %>
                    <%= f.label :remember_me %>
                  </div>
                </div>
            <% end -%>

            <%= render 'devise/shared/links' %>
        <% end %>
      </div>
    </div>
  </div>
</div>