.form-horizontal
  .form-group
    = f.label :year, :class => 'col-sm-1 control-label'
    .col-sm-1= f.text_field :year, :class => 'form-control', :placeholder => '####'
    = f.label :short_name, :class => 'col-sm-1 control-label'
    .col-sm-1= f.text_field :short_name, :class => 'form-control', :placeholder => '##FY'
    = f.label :title, :class => 'col-sm-1 control-label'
    .col-sm-2= f.text_field :title, :class => 'form-control', :placeholder => '####-#### School Year'
  .form-group
    = f.label :grades_being_taught, :class => 'col-sm-1 control-label'
    .col-sm-4
      - @grades.each do |g|
        .checkbox
          %label
            = check_box_tag 'school_year[grade_ids][]', g.id, @school_year.is_grade_being_taught?(g.short_name), {:disabled => !g.can_be_edited? }
            = g.title
    - if @school_year.has_started?
      .text-warning
        The school year has already started and can't be changed anymore
  .form-group