<%= f.hidden_field :school_id %>
<div class="aui-group">
  <div class="aui-item">
    <h3>Basic Information</h3>
    <div class="field-group">
      <%= f.label :year %>
      <%= f.text_field :year, :class => 'text short-field' %>
      <div class="description">Usually the first part of the starting calendar year</div>
    </div>
    <div class="field-group">
      <%= f.label :title %>
      <%= f.text_field :title, :class => 'text medium-field' %>
      <div class="description">Displayed through out the system</div>
    </div>
    <div class="field-group">
      <%= f.label :short_name %>
      <%= f.text_field :short_name, :class => 'text medium-field' %>
      <div class="description">Displayed on system reports and reports cards</div>
    </div>
    <div class="field-group">
      <%= f.label :grades_being_taught_this_year %>
      <% @grades.each do |g| %>
          <div class="checkbox">
            <%= check_box_tag 'school_year[grade_ids][]', g.id, @school_year.is_grade_being_taught?(g.short_name), {:disabled => !can_grade_be_edited(g.short_name) } -%>
            <label for="<%= g.id %>"><%= g.title %></label>
          </div>
      <% end %>
      <% if @school_year.has_started? %>
          <div class="description">The school year has started, these can no longer be changed</div>
      <% end %>
    </div>
  </div>
  <div class="aui-item">
    <h3>
      Dates
    </h3>
    <div class="field-group">
      <%= f.label :attendance, {:style => 'font-weight: bold;'} %>
      <div class="description">Dates that attendance will be taken</div>
    </div>
    <div class="field-group">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY' %>
    </div>
    <div class="field-group">
      <%= f.label :end_date %>
      <%= f.text_field :end_date, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY' %>
    </div>
    <div class="field-group">
      <%= f.label :grades, {:style => 'font-weight: bold;'} %>
      <div class="description">When course instructors can post final to <br/> progress reports and report cards</div>
    </div>
    <div class="field-group">
      <%= f.label :start_date %>
      <%= f.text_field :grade_start_date, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY' %>
    </div>
    <div class="field-group">
      <%= f.label :end_date %>
      <%= f.text_field :grade_end_date, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY' %>
    </div>
    <div class="field-group">
      <%= f.label :admissions, {:style => 'font-weight: bold;'} %>
      <div class="description">When students are allowed to be admitted into school</div>
    </div>
    <div class="field-group">
      <%= f.label :start_date %>
      <%= f.text_field :reg_start_date, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY' %>
    </div>
    <div class="field-group">
      <%= f.label :end_date %>
      <%= f.text_field :reg_end_date, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY' %>
    </div>
  </div>
</div>