%h3= @school_year.school.name

= form_for @school_year, url: school_school_year_path(@school_year), method: :patch, :html => { :class => '' } do |f|
  .panel.panel-primary
    .panel-heading
      Basic Information
    .panel-body
      = error_messages_for 'school_year'
      = render :partial =>  'school_years/form', :locals => {:f => f}
    .panel-footer
      = link_to 'Cancel', school_path(@school_year.school), :class => 'btn btn-default'
      = f.submit 'Save Changes', :class => 'btn btn-success'