- page_title 'Schools', 'Administration'
%h3 Schools

.panel.panel-primary
  .panel-heading
    %i.fa.fa-search
    School Search
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th.action-column
        %th Name
        %th School Code
        %th District Code
        %th Address
    %tbody
      - @schools.each do |s|
        %tr
          %td= link_to 'Select', school_path(s), :class => 'btn btn-link'
          %td= s.name
          %td= s.short_name
          %td= s.district.short_name
          %td= format_address(s.address, nil, s.city, s.state, s.zip_code).html_safe

= link_to 'New school', new_school_path, :class => 'btn btn-primary'