.card
  .card-header
    %i.fa.fa-search
    School Search
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th
        %th School Code
        %th District Code
        %th Name
        %th Address
    %tbody
      - @schools.each do |s|
        %tr
          %td= link_to s.short_name, school_path(s)
          %td= s.short_name
          %td= s.district.short_name
          %td= s.name
          %td= format_address(s.address, nil, s.city, s.state, s.zip_code).html_safe

.btn-group
  %a.btn.btn-secondary{ href: new_school_path}
    New School