%h3 New School
.row
  .col-md-12
    = form_for @school, url: schools_path, :html => { :class => 'aui' } do |f|
      .panel.panel-primary
        .panel-heading
          %h3.panel-title Information
        .panel-body
          = error_messages_for 'school'
          = render :partial => 'schools/form', :locals => {:f => f}
        .panel-footer
          = link_to 'Cancel', schools_path, :class => 'btn btn-default'
          = f.submit 'Create', :class => 'btn btn-success'