<div class="generalAdminHeading aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <ol class="aui-nav aui-nav-horizontal">
        <li>
          <h1>
            New School
          </h1>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
      <%= form_for :school, url: schools_path, :html => { :class => 'aui' } do |f| %>

          <%= error_messages_for 'school' %>
          <%= render :partial => 'schools/form', :locals => {:f => f} %>

          <div class="buttons-container">
            <div class="buttons">
              <%= f.submit 'Create', :class => 'button submit' %>
              <%= link_to 'Cancel', districts_path, :class => 'cancel' %>
            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>