<div class="generalAdminHeading aui-page-header">
  <div class="aui-page-header-inner">
    <div class="aui-page-header-main">
      <ol class="aui-nav aui-nav-horizontal">
        <li>
          <h1>
            <%= @school.name %>
          </h1><br/>
          <%= format_address(@school.address, nil, @school.city, @school.state, @school.zip_code).html_safe %>
        </li>
      </ol>
    </div>
  </div>
</div>
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-content">
      <div class="aui-group">
        <div class="aui-item">
          <h2>Information</h2>
          <table class="aui">
            <tr>
              <td style="width: 25%">Active Staff</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Enrolled Students</td>
              <td>0</td>
            </tr>
          </table>
        </div>
        <div class="aui-item">
          <h2>School Years</h2>
          <% if @school.school_years.any? %>

              <table class="aui">
                <thead>
                <tr>
                  <th>Year</th>
                  <th>Name</th>
                  <th>Attendance Period</th>
                  <th>Grading Posting Period</th>
                  <th>Course Registration Period</th>
                </tr>
                </thead>
                <% @school.school_years.each do |sy| %>
                    <tr>
                      <td>
                        <%= link_to sy.year, edit_school_school_year_path(@school, sy) %>
                      </td>
                      <td>
                        <%= sy.title %>
                      </td>
                      <td>
                        <%= display_thur_dates(sy.start_date, sy.end_date) %>
                      </td>
                      <td>
                        <%= display_thur_dates(sy.grade_start_date, sy.grade_end_date) %>
                      </td>
                      <td>
                        <%= display_thur_dates(sy.reg_start_date, sy.reg_end_date) %>
                      </td>
                    </tr>
                <% end %>
              </table>

              <br/>

              <%= link_to 'Add School Year', new_school_school_year_path(@school), :class => 'aui-button aui-button-subtle' %>

          <% else %>
              <%= link_to 'This school has not yet been in session. Create a new School Year now!', new_school_school_year_path(@school) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>