%h2= @school.name
%span= format_address(@school.address, nil, @school.city, @school.state, @school.zip_code).html_safe

.row
  .col-sm-4
    %table.table.table-bordered.table-sm
      %tbody
        %tr
          %td Active Staff
          %td 0
        %tr
          %td Enrolled Students
          %td 0
  .col-sm-8
    .card
      .card-header School Years
      - if @school.school_years.any?
        %table.table.table-bordered
          %tbody
            - @school.school_years.each do |sy|
              %tr
                %td= link_to sy.year, edit_school_school_year_path(@school, sy)
                %td= sy.title
                %td= display_thur_dates(sy.start_date, sy.end_date)
                %td= display_thur_dates(sy.grade_start_date, sy.grade_end_date)
                %td= display_thur_dates(sy.reg_start_date, sy.reg_end_date)
        .card-footer
          = link_to 'Add School Year', new_school_school_year_path(@school), :class => 'aui-button aui-button-subtle'
      - else
        .card-block
          = link_to 'This school has not yet been in session. Create a new School Year now!', new_school_school_year_path(@school)