- page_title @school.name, 'Schools', 'Administration'
%h3= @school.name

.row
  .col-sm-4
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Information
      %table.table.table-bordered.table-striped
        %tbody
          %tr
            %td Address
            %td= format_address(@school.address, nil, @school.city, @school.state, @school.zip_code).html_safe
          %tr
            %td Active Staff
            %td 0
          %tr
            %td Enrolled Students
            %td 0
    = link_to 'Back', schools_path, :class => 'btn btn-default'
  .col-sm-8
    .panel.panel-primary
      .panel-heading
        %h3.panel-title School Years
      - if @school.school_years.any?
        %table.table.table-bordered.table-striped
          %tbody
            - @school.school_years.each do |sy|
              %tr
                %td= link_to sy.year, edit_school_school_year_path(@school, sy)
                %td= sy.title
                %td= display_thur_dates(sy.start_date, sy.end_date)
                %td= display_thur_dates(sy.grade_start_date, sy.grade_end_date)
                %td= display_thur_dates(sy.reg_start_date, sy.reg_end_date)
        .panel-footer
          = link_to 'Add School Year', new_school_school_year_path(@school), :class => 'btn btn-primary'
      - else
        .panel-body
          = link_to 'This school has not yet been in session. Create a new School Year now!', new_school_school_year_path(@school)