<div class="field-group">
  <%= f.label :title %>
  <%= f.text_field :title, :class => 'text medium-field', :placeholder => 'Title' %>
</div>

<div class="field-group">
  <%= f.label :short_name %>
  <%= f.text_field :short_name, :class => 'text medium-field', :placeholder => 'Course Code' %>
</div>

<div class="field-group">
  <%= f.label :description %>
  <%= f.text_area :description, :class => 'textarea', :placeholder => 'Description' %>
</div>

<div class="field-group">
  <%= f.label :course_category_id %>
  <%= f.select :course_category_id, options_from_collection_for_select(@course_cats, :id, :title, @course.course_category_id), {include_blank: '- Select -'}, {:class => 'select'} %>
</div>