= form_for :course, url: course_path(@course), method: :post, :html => { :class => 'form-horizontal' } do |f|
  .panel.panel-primary
    .panel-heading
      Edit Course
    .panel-body
      .form-horizontal
        = error_messages_for 'course'
        = render :partial => 'courses/form', :locals => { :f => f }
    .panel-footer
      = link_to 'Cancel', courses_path, :class => 'btn btn-default'
      = f.submit 'Save Changes', :class => 'btn btn-primary'