%h4 Basic Information
.basic-information
  .field-group
    Student Name
    = f.text_field :first_name, :class => 'text medium-field', :placeholder => 'First'
    = f.text_field :middle_name, :class => 'text medium-field', :placeholder => 'Middle'
    = f.text_field :last_name, :class => 'text medium-field', :placeholder => 'Last'
    = f.text_field :suffix, :class => 'text short-field', :placeholder => 'Suffix'
  .field-group
    = f.label :date_of_birth
    = f.text_field :date_of_birth, :class => 'text medium-field', :placeholder => 'MM/DD/YYYY'
  .field-group
    = f.label :sex
    = f.text_field :sex, :class => 'text short-field', :placeholder => 'M or F'

%hr Admission Information
= f.fields_for :enrollments do |ff|
  .admission-information
    = ff.hidden_field :id
    = ff.hidden_field :student_id
