.aside-inner
  %nav.sidebar{'data-sidebar-anyclick-close' => ''}
    %ul.nav
      %li.has-user-block
        #user-block.collapse
          .item.user-block
            .user-block-picture
              .user-block-status
                %img.img-thumbnail.img-circle{:alt => 'Avatar', :height => '60', :src => '', :width => '60'}
                .circle.circle-success.circle-lg
            .user-block-info
              %span.user-block-name Hello, User!
              %span.user-block-role System Administrator
      = render_menu :sidebar
      -#%li{:class => "#{'active' if controller?('maps')}"}
      -#  %a{'data-toggle' => 'collapse', :href => '#administration', :title => 'Administration'}
      -#    %em.icon-settings
      -#    %span{'data-localize' => 'sidebar.nav.map.MAP'} Administration
      -#  %ul#administration.nav.sidebar-subnav.collapse
      -#    %li{:class => "#{'active' if controller?('announcements');}"}
      -#      = link_to 'Announcements', announcements_path
      -#    %li{:class => "#{'active' if controller?('calendars');}"}
      -#      = link_to 'Calendars', calendars_path
      -#    %li{:class => "#{'active' if controller?('courses');}"}
      -#      = link_to 'Courses', courses_path
      -#    %li{:class => "#{'active' if controller?('districts');}"}
      -#      = link_to 'Districts', districts_path
      -#    %li{:class => "#{'active' if controller?('grades');}"}
      -#      = link_to 'Grade Levels', grades_path
      -#    %li{:class => "#{'active' if controller?('schools');}"}
      -#      = link_to 'Marking Periods', schools_path
      -#    %li{:class => "#{'active' if controller?('maps');}"}
      -#      = link_to 'Schools', schools_path
      -#    %li{:class => "#{'active' if controller?('roles');}"}
      -#      = link_to 'User Roles', roles_path
      -#    %li{:class => "#{'active' if controller?('users');}"}
      -#      = link_to 'Users', users_path
      -#    %li{:class => "#{'active' if controller?('settings');}"}
      -#      = link_to 'Control Panel', settings_path