%nav.navbar.topnavbar{:role => 'navigation'}
  .navbar-header
    %a.navbar-brand{:href => home_path}
      .brand-logo
        %img.img-responsive{:alt => "#{Genesis::INFO.app_name} Logo", :src => "#{image_path('angle/logo.png')}"}
      .brand-logo-collapsed
        %img.img-responsive{:alt => "#{Genesis::INFO.app_name} Logo", :src => "#{image_path('angle/logo-single.png')}"}
  .nav-wrapper
    %ul.nav.navbar-nav
      %li
        %a.hidden-xs{'data-toggle-state' => 'aside-collapsed', :href => '#', :title => 'Toggle sidebar'}
          %em= fa_icon 'navicon'
        %a.visible-xs.sidebar-toggle{'data-no-persist' => 'true', 'data-toggle-state' => 'aside-toggled', :href => '#', :title => 'Toggle sidebar'}
          %em= fa_icon 'navicon'
      %li
        %a{'data-search-open' => '', :href => '#', :title => 'Search'}
          %em= fa_icon 'search'
      %li
        - unless @student.nil?
          %a{:href => '#'}
            Student:
            Adkins, Justin M.
            - if @student.has_alert?
              &nbsp;
              %em{'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'There is an alert for this student!'}
                = fa_icon 'warning', :class => 'text-yellow'
            - if @student.has_flagged_note?
              &nbsp;
              %em{'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'There is a flagged note for this student!'}
                = fa_icon 'flag', :class => 'text-warning'
            - if @student.has_medical_alert?
              &nbsp;
              %em{'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'There is a medical alert for this student!'}
                = fa_icon 'heartbeat', :class => 'text-danger'
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{'data-no-persist' => 'true', 'data-toggle-state' => 'offsidebar-open', :href => '#', :title => 'Preferences'}
          %em= fa_icon 'sliders'
      %li.dropdown.dropdown-list
        %a{'aria-expanded' => 'true', 'data-toggle' => 'dropdown', :href => '#'}
          %em.icon-bell
          .label.label-danger 11
        %ul.dropdown-menu
          %li
            .list-group
              %a.list-group-item{:href => '#'}
                .media-box
                  .pull-left
                    %em.fa.fa-users.fa-2x.text-success
                  .media-box-body.clearfix
                    %p.m0 Student Admissions
                    %p.m0.text-muted
                      %small 1 pending admission
              %a.list-group-item{:href => application_settings_path}
                .media-box
                  .pull-left
                    %em.fa.fa-wrench.fa-2x.text-info
                  .media-box-body.clearfix
                    %p.m0 System Updates
                    %p.m0.text-muted
                      %small= "Updates are available for #{Genesis::INFO.app_name}"
              %a.list-group-item{:href => '#'}
                %small View all notifications
      %li.hidden-xs
        = link_to destroy_user_session_path, :method=>'delete', :title => 'Sign out' do
          %em= fa_icon 'sign-out'
  %form.navbar-form{:action => 'search.html', :role => 'search'}
    .form-group.has-feedback
      %input.form-control{:placeholder => 'Type and hit enter ...', :type => 'text'}
      .fa.fa-times.form-control-feedback{'data-search-dismiss' => ''}
    %button.hidden.btn.btn-default{:type => 'submit'} Submit