@model Address

<div class="aui">
    <div class="field-group">
        @Html.LabelFor(m => Model.FirstAddressLine)
        @Html.TextBoxFor(m => Model.FirstAddressLine, new { @class = "text", @disabled = "disabled" })
    </div>
    <div class="field-group">
        @Html.LabelFor(m => Model.SecondAddressLine)
        @Html.TextBoxFor(m => Model.SecondAddressLine, new { @class = "text", @disabled = "disabled" })
    </div>
    <div class="field-group">
        @Html.LabelFor(m => Model.City)
        @Html.TextBoxFor(m => Model.City, new { @class = "text", @disabled = "disabled" })
    </div>
    <div class="field-group">
        @Html.LabelFor(m => Model.Region)
        @Html.TextBoxFor(m => Model.Region, new {@class = "text", @disabled = "disabled"})
    </div>
    <div class="field-group">
        @Html.LabelFor(m => Model.County)
        @Html.TextBoxFor(m => Model.County, new { @class = "text", @disabled = "disabled" })
    </div>
    <div class="field-group">
        @Html.LabelFor(m => Model.PostalCode)
        @Html.TextBoxFor(m => Model.PostalCode, new { @class = "text", @disabled = "disabled" })
    </div>
</div>

<div class="aui">
    <div class="field-group">
        @Html.LabelFor(m => Model.PhoneNumber)
        @Html.TextBoxFor(m => Model.PhoneNumber, new { @class = "text", @disabled = "disabled" })
    </div>
    <div class="field-group">
        @Html.LabelFor(m => Model.AlternatePhoneNumber)
        @Html.TextBoxFor(m => Model.AlternatePhoneNumber, new { @class = "text", @disabled = "disabled" })
    </div>
    <div class="field-group">
        @Html.LabelFor(m => Model.EmailAddress)
        @Html.TextBoxFor(m => Model.EmailAddress, new { @class = "text", @disabled = "disabled" })
    </div>
    <div class="field-group">
        @Html.LabelFor(m => Model.AlternateEmailAddress)
        @Html.TextBoxFor(m => Model.AlternateEmailAddress, new { @class = "text", @disabled = "disabled" })
    </div>
</div>