- if user_signed_in?
  %nav.navbar.navbar-dark.bg-inverse.navbar-fixed-top
    %a.navbar-brand{:href => home_path}= Genesis::INFO.app_name
    %ul.nav.navbar-nav
      %li.nav-item
        %a.nav-link{:href => students_path}
          %i.fa.fa-user
          Students
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{'data-toggle': 'dropdown'}
          %i.fa.fa-cog
        %ul.dropdown-menu
          %li.dropdown-item
            = link_to 'Announcements', announcements_path
          %li.dropdown-item
            = link_to 'Calendars', calendars_path
          %li.dropdown-item
            = link_to 'Courses', courses_path
          %li.dropdown-item
            = link_to 'Districts', districts_path
          %li.dropdown-item
            = link_to 'Grade Levels', grades_path
          %li.dropdown-item
            = link_to 'Marking Periods', schools_path
          %li.dropdown-item
            = link_to 'Schools', schools_path
          %li.dropdown-item
            = link_to 'User Roles', roles_path
          %li.dropdown-item
            = link_to 'Users', users_path
          %li.dropdown-item
            = link_to 'System Administration', settings_path
          %li.dropdown-divider
          %li.dropdown-item
            = link_to 'Profile and Preferences', edit_user_registration_path
          %li.dropdown-item
            = link_to 'Log out', destroy_user_session_path, :method=>'delete'