<nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
  <div class="aui-header-primary">
    <h1 class="aui-header-logo">
      <a href="<%= root_path %>">
        <p class="aui-header-logo-text" style="padding: 10px 0 10px 0;">
          <%= Genesis::INFO.app_name %>
        </p>
      </a>
    </h1>
    <ul class="aui-nav">
      <% if user_signed_in? %>
          <li>
            <a href="#dropdownStudent" class="aui-dropdown2-trigger" aria-controls="dropdownStudent">
              <span class="aui-icon aui-icon-small aui-iconfont-user">Students</span>
              Students
            </a>
            <div class="aui-dropdown2 aui-style-default" id="dropdownStudent">
              <div class="aui-dropdown2-section">
                <ul>
                  <li> <%= link_to 'Search', students_path %> </li>
                  <li> <%= link_to 'New Student', new_student_path %> </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#dropdownScheduling" class="aui-dropdown2-trigger" aria-controls="dropdownScheduling">
              <span class="aui-icon aui-icon-small aui-iconfont-calendar">Scheduling</span>
              Scheduling
            </a>
            <div class="aui-dropdown2 aui-style-default" id="dropdownScheduling">
              <div class="aui-dropdown2-section">
                <ul>
                  <li> <%= link_to 'Item', root_path %> </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#dropdownGrades" class="aui-dropdown2-trigger" aria-controls="dropdownGrades">
              <span class="aui-icon aui-icon-small aui-iconfont-file-xls">Grades</span>
              Grades
            </a>
            <div class="aui-dropdown2 aui-style-default" id="dropdownGrades">
              <div class="aui-dropdown2-section">
                <ul>
                  <li> <%= link_to 'Item', root_path %> </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#dropdownAssessment" class="aui-dropdown2-trigger" aria-controls="dropdownAssessment">
              <span class="aui-icon aui-icon-small aui-iconfont-bp-default">Assessment</span>
              Assessment
            </a>
            <div class="aui-dropdown2 aui-style-default" id="dropdownAssessment">
              <div class="aui-dropdown2-section">
                <ul>
                  <li> <%= link_to 'Item', root_path %> </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#dropdownAttendance" class="aui-dropdown2-trigger" aria-controls="dropdownAttendance">
              <span class="aui-icon aui-icon-small aui-iconfont-jira-completed-task">Attendance</span>
              Attendance
            </a>
            <div class="aui-dropdown2 aui-style-default" id="dropdownAttendance">
              <div class="aui-dropdown2-section">
                <ul>
                  <li> <%= link_to 'Item', root_path %> </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#dropdownEligibility" class="aui-dropdown2-trigger" aria-controls="dropdownEligibility">
              <span class="aui-icon aui-icon-small aui-iconfont-component">Eligibility</span>
              Eligibility
            </a>
            <div class="aui-dropdown2 aui-style-default" id="dropdownEligibility">
              <div class="aui-dropdown2-section">
                <ul>
                  <li> <%= link_to 'Item', root_path %> </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#dropdownDiscipline" class="aui-dropdown2-trigger" aria-controls="dropdownDiscipline">
              <span class="aui-icon aui-icon-small aui-iconfont-jira-issues">Discipline</span>
              Discipline
            </a>
            <div class="aui-dropdown2 aui-style-default" id="dropdownDiscipline">
              <div class="aui-dropdown2-section">
                <ul>
                  <li> <%= link_to 'Item', root_path %> </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a href="#dropdownBilling" class="aui-dropdown2-trigger" aria-controls="dropdownBilling">
              <span class="aui-icon aui-icon-small aui-iconfont-pages">Billing</span>
              Billing
            </a>
            <div class="aui-dropdown2 aui-style-default" id="dropdownBilling">
              <div class="aui-dropdown2-section">
                <ul>
                  <li> <%= link_to 'Item', root_path %> </li>
                </ul>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="aui-header-secondary">
    <ul class="aui-nav">
      <% if user_signed_in? %>
          <li>
            <div>
              <a href="#schools" aria-owns="schools" aria-haspopup="true" class="aui-dropdown2-trigger">Sunnyside High School</a>

              <div id="schools" class="aui-style-default aui-dropdown2">
                <ul class="aui-list-truncate">
                  <% @schools.each do |s| %>
                      <li><a href="#"><%= s.name %> </a></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <div>
              <a href="#school-years" aria-owns="school-years" aria-haspopup="true" class="aui-dropdown2-trigger">2016-2017</a>

              <div id="school-years" class="aui-style-default aui-dropdown2">
                <ul class="aui-list-truncate">
                  <li><a href="#">2015-2016</a></li>
                  <li><a href="#"><strong>2016-2017</strong></a></li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <a id="adv-search-link">
              <span class='aui-icon aui-icon-small aui-iconfont-search'></span>
            </a>
          </li>
          <li>
            <a href="#dropdown2-header9" aria-owns="dropdown2-header9" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dropdown2-header9" aria-expanded="false">
              <span class='aui-icon aui-icon-small aui-iconfont-configure'></span>
            </a>

            <div class="aui-dropdown2 aui-style-default " id="dropdown2-header9" aria-hidden="true">
              <div class="aui-dropdown2-section">
                <ul>
                  <% if current_user.is_admin? %>
                      <li> <%= link_to 'Districts', districts_path %> </li>
                      <li> <%= link_to 'Schools', schools_path %> </li>
                      <li> <%= link_to 'System Settings', settings_path %> </li>
                  <% end %>
                </ul>
              </div>
              <div class="aui-dropdown2-section">
                <ul>
                  <li><%= link_to 'My Profile and Preferences', edit_user_registration_path %></li>
                  <li><%= link_to 'Log out', destroy_user_session_path, :method=>'delete' %></li>
                </ul>
              </div>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</nav>