<nav class="aui-header aui-dropdown2-trigger-group" role="navigation" data-aui-responsive="true">
  <div class="aui-header-primary">
    <h1 class="aui-header-logo">
      <a href="<%= home_path %>">
        <p class="aui-header-logo-text" style="padding: 10px 0 10px 0;">
          <%= Genesis::INFO.app_name %>
        </p>
      </a>
    </h1>
    <ul class="aui-nav">
      <% if user_signed_in? %>
          <li>
            <a href="<%= students_url %>">
              <span class="aui-icon aui-icon-small aui-iconfont-user">Students</span>
              Students
            </a>
          </li>
      <% end %>
    </ul>
  </div>
  <div class="aui-header-secondary">
    <ul class="aui-nav">
      <% if user_signed_in? %>
          <%= render_school_dropdown.html_safe %>
          <li>
            <a id="adv-search-link" style="cursor: pointer;">
              <span class='aui-icon aui-icon-small aui-iconfont-search'></span>
            </a>
          </li>
          <li>
            <a href="#options-dropdown" aria-owns="options-dropdown" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="options-dropdown" aria-expanded="false">
              <span class='aui-icon aui-icon-small aui-iconfont-configure'></span>
            </a>

            <div class="aui-dropdown2 aui-style-default " id="options-dropdown" aria-hidden="true">
              <div class="aui-dropdown2-section">
                <ul>
                  <% if current_user.is_admin? %>
                      <li> <%= link_to 'Announcements', announcements_path %> </li>
                      <li> <%= link_to 'Calendars', calendars_path %> </li>
                      <li> <%= link_to 'Courses', courses_path %> </li>
                      <li> <%= link_to 'Districts', districts_path %> </li>
                      <li> <%= link_to 'Grade Levels', grades_path %> </li>
                      <li> <%= link_to 'Marking Periods', schools_path %> </li>
                      <li> <%= link_to 'Schools', schools_path %> </li>
                      <li> <%= link_to 'User Roles', roles_path %> </li>
                      <li> <%= link_to 'Users', users_path %> </li>
                  <% end %>
                </ul>
              </div>
              <div class="aui-dropdown2-section">
                <ul>
                  <li><%= link_to 'System Administration', settings_path %></li>
                  <li><%= link_to 'Profile and Preferences', edit_user_registration_path %></li>
                  <li><%= link_to 'Log out', destroy_user_session_path, :method=>'delete' %></li>
                </ul>
              </div>
            </div>
          </li>

          <% if Rails.env.development? %>

              <li>
                <a href="#dev-menu" aria-owns="dev-menu" aria-haspopup="true" class="aui-dropdown2-trigger" aria-controls="dev-menu" aria-expanded="false">
                  <span class='aui-icon aui-icon-small aui-iconfont-devtools-side-diff'></span>
                </a>

                <div class="aui-dropdown2 aui-style-default " id="dev-menu" aria-hidden="true">
                  <div class="aui-dropdown2-section">
                    <ul>
                      <li><%= link_to 'Clear Session', '?frc_clr_ses' %></li>
                      <li><%= link_to 'Force Sudo Mode', '?frc_sudo_mode' %></li>
                    </ul>
                  </div>
                </div>
              </li>

          <% end %>

      <% end %>
    </ul>
  </div>
</nav>