!!!
%html{:lang => 'en'}
  %head= render partial: 'layouts/partials/header'
  %body
    .wrapper
      %header.topnavbar-wrapper= render partial: 'layouts/partials/topnavbar'
      %aside.aside= render partial: 'layouts/partials/sidebar'
      %aside.offsidebar.hide= render partial: 'layouts/partials/offsidebar'
      %section
        .content-wrapper
          = yield
      %footer= render partial: 'layouts/partials/footer'
    = javascript_include_tag 'base', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = yield :body_area