!!!
%html{:lang => "en"}
  %head= render partial: 'layouts/partials/header'
  %body
    .wrapper
      = yield
    .p-lg.text-center
      %span ©
      %span= Time.now.year
      %span -
      %span MythCoders
    = javascript_include_tag 'base', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'