!!!
%html
  %head= render partial: 'layouts/header'
  %body.page-body
    .page-container.horizontal-menu.with-sidebar
      = render 'layouts/navbar'
      = yield :sidebar
      .main-content
        = render 'layouts/alerts'
        = yield
      = yield :scripts